/* Core styles for the page. */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Overall page. */
body {
    margin: 0;
    padding: 0;
    /* I am using vw and vh here because it makes the page adhere to what the viewable pixels are on the screen. Then we will touch this up with @media screen. */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 5px 0 20px;
    padding: 0;
    height: 10vh;
}

/* This will push the timer all the way to the right corner and allow the View Highscores to be on the top left. */
#timer {
    margin-left: auto;
}

/* This is where the quiz will bordered into. */
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 90vh;
}

section .startScreen {
    justify-content: center;
    align-items: flex-start;
}
/* Adjusted width so the buttons don't run the length of the main tag. */
#questionContainer{
    width: 75%;
}

/* This will apply to all the buttons on the page. */
button {
    padding: 5px;
    background: purple;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}

.answerBtn {
    flex-flow: column wrap;
    width: 100%;
    margin: 0 0 20px 0;
}

/* .hide {
    display: none;
} */